# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=929188702872297492
DISCORD_CLIENT_SECRET=
GUILD_ID=1476201265267740794

# Bot defaults
BOT_NAME=Mr. Flipper
DEFAULT_PREFIX=-
DEFAULT_LANGUAGE=de
EMBED_COLOR=#8A2BE2

# Dashboard / Render
DASHBOARD_SECRET=
DASHBOARD_URL=
PORT=8080

# SQLite
BOT_DB_PATH=data/bot.db
